/* body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    text-align: center;
    margin-top: 50px;
}

#bnt{
    padding: 10px 15px;
    font-size: larger;
    background-color: aquamarine;
    border-radius: 20px;
    cursor: pointer;
    transition: background-colour 0.5s;
}

#bnt:hover{
    background-color: rgb(57, 255, 189);
}

.lables{
    font-size: 40px;
    padding: 5px 10px;
} */