body{
    background-color: beige;
}

#conlabel{
    display: block;
    text-align: center;
    margin-top: 15%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10rem;
}

#butcon{
    display: block;
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    border-radius: 15px;
    background-color: rgba(0, 255, 255, 0.808);
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color: rgb(141, 230, 230);
}