body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    text-align: center;
    margin-top: 50px;
    background-color: beige;
}
h1{
    color: rgb(223, 223, 12);
}

form{
    background-color: rgb(184, 187, 159);
    margin: auto;
    border-radius: 30px;
    padding: 10px 15px;
    width: 50%;
    text-align: center;
}

#inputBox{
    width: 35%;
    padding: 10px 15px;
    text-align: center;
    border-radius: 25px;
}

button{
    width: 35%;
    padding: 10px 15px;
    text-align: center;
    border-radius: 25px;  
    background-color: whitesmoke;  
    cursor: pointer;
}

button:hover{
    background-color: rgb(168, 167, 167);
}

label{
    font-size: 20px;
    font-weight: bold;
}

#result{
    font-size: 1.7em;

}